
@{
    ViewBag.Title = "_MainLayout";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="stylesheet" href="~/Asset/css/main.css">
    
    

    <title>Shop Bán Ngọc Quý</title>
</head>

<body>
    <div class="main_page">

        <!-- Header page -->
        <div class="header_page">
            <div class="header_page-main">

                <div class="header_page-logo">
                    <a href="@Url.Action("Index", "Home")"><img src="~/Asset/img/logo.png" alt=""></a>
                </div>

                <div class="header_page-category">

                    <ul class="header_page-category-main-menu">
                        <li>@Html.ActionLink("Trang chủ", "Index", "Home")</li>
                        <li>
                            @Html.ActionLink("Sản phẩm", "Product", "Shop")
                            <ul class="header_page-category-sub-menu">
                                <li><a href="">Nhẫn</a></li>
                                <li><a href="">Hoa tai</a></li>
                                <li><a href="">Dây chuyền</a></li>
                                <li><a href="">Vòng tay</a></li>
                                <li><a href="">Mặt dây chuyền</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="">Trang<i class="fa-solid fa-chevron-down"></i></a>
                            <ul class="header_page-category-sub-menu">
                                <li>
                                    @*<a href="@Url.Action("Login", new {id = 1})" style="font-weight: normal">Đăng nhập</a>*@
                                    @Html.ActionLink("Đăng nhập", "Login", "Shop")
                                </li>
                                <li>
                                    @*<a href="cart.html" style="font-weight: normal">Giỏ hàng</a>*@
                                    @Html.ActionLink("Giỏ hàng", "Cart" , "Shop")
                                </li>
                                <li>
                                    @*<a href="about.html" style="font-weight: normal">Giới thiệu</a>*@
                                    @Html.ActionLink("Giới thiệu", "About", "Shop")
                                </li>
                            </ul>
                        </li>
                        <li>
                            @*<a href="contact.html">Liên hệ</a>*@
                            @Html.ActionLink("Liên hệ", "Contact", "Shop")
                        </li>
                    </ul>

                </div>

                <!--  -->
                <div class="header_page-btns non-reponsive">
                    <button type="button" class="search-btn">
                        <i class="fa-solid fa-magnifying-glass"></i>Tìm
                        kiếm
                    </button>
                    <button>
                        @*<a href="cart.html"><i class="fa-solid fa-bag-shopping"></i>Giỏ hàng(100)</a>*@
                        <i class="fa-solid fa-bag-shopping"></i> @Html.ActionLink("Giỏ hàng(100)", "Cart", "Shop")
                    </button>
                    <button>
                    @*<a href="@Url.Action("Login", new {id = 1})"><i class="fa-solid fa-user"></i>Tài khoản</a>*@
                        <i class="fa-solid fa-user"></i> @Html.ActionLink("Đăng nhập", "Login", "Shop")
                    </button>
                </div>

                <!-- responsive -->
                <div class="header_page-btns responsive">
                    <div class="nav">
                        <button class="navbar"><i class="fa-solid fa-bars"></i></button>
                    </div>

                    <div class="right_btn">
                        <button type="button" class="search-btn"><i class="fa-solid fa-magnifying-glass"></i></button>
                        <button>
                            @*<a href="cart.html"><i class="fa-solid fa-bag-shopping"></i></a>*@
                            <i class="fa-solid fa-bag-shopping"></i> @Html.ActionLink("Giỏ hàng(100)", "Cart", "Shop")
                        </button>
                        <button>
                            @*<a href="@Url.Action("Login", new {id = 1})"><i class="fa-solid fa-user"></i></a>*@
                            <i class="fa-solid fa-user"></i> @Html.ActionLink("Đăng nhập", "Login", "Shop")
                        </button>
                    </div>

                    <div class="category_header-responsive">
                        <ul class="main-menu">
                            <li><a href="index.html">Trang chủ</a></li>
                            <li class="main-menu-list">
                                <div class="main-menu-title">
                                    <a href="product.html">
                                        <h1>Sản phẩm</h1>
                                    </a>
                                    <i class="fa-solid fa-chevron-down"></i>
                                </div>
                                <!-- <a href="product.html"> Sản phẩm
                                    <i class="fa-solid fa-chevron-down"></i>
                                </a> -->
                                <div class="main-menu-content">
                                    <ul>
                                        <li><a href="" style="font-weight: normal">Nhẫn</a></li>
                                        <li><a href="" style="font-weight: normal">Hoa tai</a></li>
                                        <li><a href="" style="font-weight: normal">Dây chuyên</a></li>
                                        <li><a href="" style="font-weight: normal">Vòng tay</a></li>
                                        <li><a href="" style="font-weight: normal">Mặt dây chuyền</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="main-menu-list">
                                <div class="main-menu-title">
                                    <h1>Trang</h1>
                                    <i class="fa-solid fa-chevron-down"></i>
                                </div>
                                <div class="main-menu-content">
                                    <ul>
                                        <!-- <li><a href=""></a>Đăng ký</li> -->
                                        <li><a href="login.html" style="font-weight: normal">Đăng nhập</a></li>
                                        <li><a href="cart.html" style="font-weight: normal">Giỏ hàng</a></li>
                                        <li><a href="about.html" style="font-weight: normal">Giới thiệu</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li><a href="contact.html">Liên hệ</a></li>
                        </ul>
                        <button class="closeBtn"><i class="fa-solid fa-xmark"></i></button>
                        <div class="hidden-menu"></div>
                    </div>

                </div>
            </div>

        </div>

        <div class="header_page-modal-search">

            <div class="main-modal">
                <div class="main-modal-close-btn">
                    <button type="button"><i class="fa-solid fa-xmark"></i></button>
                </div>
                <div class="main-modal-title">
                    <h1>Tìm kiếm</h1>
                </div>
                <div class="main-modal-category">
                    <ul>
                        <li>Tất cả</li>
                        <li>Nhẫn</li>
                        <li>Hoa tay</li>
                        <li>Dây chuyền</li>
                        <li>Vòng tay</li>
                        <li>Mặt dây chuyền</li>
                    </ul>
                </div>
                <div class="main-modal-search">
                    <input type="text" placeholder="Tìm kiếm sản phẩm...">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
            </div>
            <div class="hide-modal-search"></div>

        </div>

       

        @RenderBody()
        <!-- footer page -->
        <div class="footer_container">
            <div class="footer_page">

                <div class="footer_page-inforCompany">
                    <h3>Thông tin công ty</h3>
                    <ul>
                        <li>Giới thiệu công ty</li>
                        <li>Hệ thống siêu thị</li>
                        <li>Phương châm bán hàng</li>
                        <li>Cơ hội nghề nghiệp</li>
                        <li>Mua hàng doanh nghiệp</li>
                    </ul>
                </div>
                <div class="footer_page-policy">
                    <h3>Chính sách chung</h3>
                    <ul>
                        <li>Bảo trì - Bảo hành - Đổi trả</li>
                        <li>Quy định giao hàng</li>
                        <li>Điều khoản sử dụng</li>
                        <li>Thỏa thuận người dùng</li>
                        <li>Cần thuê mặt bằng</li>
                    </ul>
                </div>
                <div class="footer_page-members">
                    <h3>Thẻ thành viên</h3>
                    <ul>
                        <li>Quyền lợi của thành viên</li>
                        <li>Hỗ trợ thành viên</li>
                        <li>Giftcard - Thẻ quà tặng</li>
                        <li>Liên hệ</li>
                    </ul>
                </div>
                <div class="footer_page-buyOnline">
                    <h3>Mua hàng online</h3>
                    <ul>
                        <li>Lợi ích khi mua hàng online</li>
                        <li>Thông tin chuyển khoản</li>
                        <li>Hướng dẫn mua hàng</li>
                        <li>Câu hỏi thường gặp</li>
                    </ul>
                </div>
                <div class="footer_page-social">
                    <h3>Kết nối với chúng tôi</h3>
                    <ul>
                        <li class="facebook"><a href=""><i class="fa-brands fa-facebook-f"></i></a></li>
                        <li class="twitter"><a href=""><i class="fa-brands fa-twitter"></i></a></li>
                        <li class="instagram"><a href=""><i class="fa-brands fa-instagram"></i></a></li>
                    </ul>
                </div>

            </div>
        </div>


    </div>
</body>
<script src="~/Asset/js/main.js"></script>
<script src="~/Asset/js/home.js"></script>

</html>
